.converter {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 15px 25px;
}

.converter__row {
  width: 100%;
  display: flex;
  gap: 15px;
}

.converter__header {
  width: 100%;
  text-align: center;
  margin: 15px 0 5px;
}

.converter__subheader {
  width: 100%;
  text-align: center;
  margin: 5px 0 25px;
  font-size: 16px;
}

.converter__input {
  width: 100%;
}

.converter__select {
  max-width: 80px;
}
