<section class="converter">
  <h1 class="converter__header">Let's convert something!</h1>
  <p class="converter__subheader">*with accuracy up to 2 decimal points</p>
  <div class="converter__row">
    <mat-form-field class="converter__input" appearance="outline">
      <input
        matInput
        placeholder="1.00"
        type="number"
        min="0.01"
        step="0.01"
        (keyup)="convert('input1')"
        (change)="convert('input1')"
        [(ngModel)]="input1.value"
      />
    </mat-form-field>
    <mat-form-field class="converter__select" appearance="outline">
      <mat-label>Currency</mat-label>
      <mat-select
        [(ngModel)]="input1.currency"
        (ngModelChange)="convert('input1')"
      >
        <mat-option value="USD">$</mat-option>
        <mat-option value="EUR">€</mat-option>
        <mat-option value="UAH">₴</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="converter__row">
    <mat-form-field class="converter__input" appearance="outline">
      <input
        matInput
        placeholder="1.00"
        type="number"
        min="0.01"
        step="0.01"
        (keyup)="convert('input2')"
        (change)="convert('input2')"
        [(ngModel)]="input2.value"
      />
    </mat-form-field>
    <mat-form-field class="converter__select" appearance="outline">
      <mat-label>Currency</mat-label>
      <mat-select
        [(ngModel)]="input2.currency"
        (ngModelChange)="convert('input1')"
      >
        <!-- input1 above is not a mistake, if we send input2 instead it will change input1 value, which is not user friendly -->
        <mat-option value="USD">$</mat-option>
        <mat-option value="EUR">€</mat-option>
        <mat-option value="UAH">₴</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</section>
